<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${person.getFullName()} +', '+${person.getBirthYear()}"></p>
<!-- крч, тут должен быть код, который
если список взятых книг пуст,
    пишет,что чувак книг не взял,
иначе
    печатает список-->
    <div th:if="${#lists.isEmpty(books)}">
        <p>This person don`t have any books</p>
    </div>

    <div th:if="${not #lists.isEmpty(books)}">
        <hr>
        <b>Books:</b>
        <div th:each="book:${books}">
            <p th:text="${book.getName()}+', '+${book.getYear()}"></p>
        </div>
    </div>

    <hr>
    <a th:href="@{/people/{id}/edit(id=${person.getId})}">Edit person</a>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId})}" th:object="${person}">
        <input type="submit" value="delete person">
    </form>
    <hr>
    <a th:href="@{/people}">back</a>
</body>
</html>