<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${book.getBook_id()}">book id</p>
    <p th:text="${book.getPerson_id()}">person id</p>
    <p th:text="${book.getName()}">name</p>
    <p th:text="${book.getAuthor()}">author</p>
    <p th:text="${book.getYear()}">year</p>

    <br>
    <a th:href="@{/books/{id}/edit(id=${book.getBook_id()})}">Update person</a>
    <form th:method="DELETE" th:action="@{book/{id}(id=${book.getBook_id()})}" th:object="${person}">
        <input type="submit" value="delete book">
    </form>

    <br>
    <a th:href="@{/books}" >back</a>
</body>
</html>